<meta charset="UTF-8">
<style type="text/css">@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
.fc-top {
    padding: 0 0 !important;
}
._customer-footer {
    width: 100%;
	min-width: 700px;
    display: block;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 15px;
    background: #20303d;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
}
._customer-footer__wrap {
    max-width: 1227px;
    margin: auto;
    padding: 0 20px;
}
._customer-footer__container {
    display: flex;
    justify-content: flex-start;
    position: relative;
    box-sizing: border-box;
    padding: 23px 0 27px;
}
._customer-footer__logo {
    display: block;
    margin-top: 30px;
    margin-bottom: 45px;
}
._customer-footer__logo-block {
    margin-right: 200px;
    text-align: center;
}
._customer-footer__cnt {
    color: #fff !important;
    margin: 0 0 7px 0 !important;
    text-decoration: none !important;
    font-weight: 300;
}
._customer-footer__cnt:hover {
    text-decoration: underline !important;
}
._customer-footer__cnt--bold {
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    margin: 0;
}
._customer-footer__catalog-block {
    display: flex;
    justify-content: flex-start;
}
._customer-footer__catalog-list {
    margin: 20px 100px 0 0;
}
._customer-footer__catalog-list:last-child {
    margin-right: 0;
}
._customer-footer__contact-block {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
}
._customer-footer__ul {
    list-style: none !important;
    margin: 20px 0 0 0 !important;
    padding: 0;
}
._customer-footer__ul li {
    color: #ffffff;
    margin: 0 0 15px 0;
}
._customer-footer__ul ._customer-footer__address--phone {
    background: url("img/footer/icon-phone.png") 0 3px no-repeat;
    padding-left: 30px;
    margin-bottom: 15px;
}
._customer-footer__ul ._customer-footer__address--mail {
    background: url("img/footer/icon-mail.png") 0 no-repeat;
    padding-left: 30px;
}
._customer-footer__ul ._customer-footer__address--map {
    background: url("img/footer/icon-map.png") 0 5px no-repeat;
    padding-left: 30px;
    margin-bottom: 15px;
}
._customer-footer__ul ._customer-footer__address--phone a,
._customer-footer__ul ._customer-footer__address--mail a,
._customer-footer__ul ._customer-footer__address--map {
    color: #ffffff;
    text-decoration: none;
    font-weight: 400;
    line-height: 20px;
}
._customer-footer__address--work {
    color: #58646e;
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
}
._customer-footer__bottom {
	width: 100%;
	min-width: 700px;
    height: 33px;
    display: block;
    background: #151f26;
    color: #ffffff;
    font-size: 13px;
    padding-top: 15px;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-weight: 300;
}
._customer-btn {
    width: 180px;
    height: 40px;
    background: #cd293d;
    border-radius: 4px;
    text-align: center;
    line-height: 40px;
    margin-top: 28px;
    cursor: pointer;
    color: #ffffff;
    font-weight: 300;
    text-transform: uppercase;
}
._customer-btn:hover {
    opacity: 0.9;
}
@media (max-width: 1198px) {
    ._customer-footer__logo-block {
        margin-right: 65px;
    }
    ._customer-footer__catalog-list {
        margin-right: 40px;
    }
}
</style>
<!--Footer-->
<footer class="_customer-footer" itemscope="" itemtype="http://schema.org/LocalBusiness">
    <div class="_customer-footer__wrap">
        <div class="_customer-footer__container">
            <div class="_customer-footer__catalog-block">
                <div class="_customer-footer__logo-block">
                    <a class="_customer-footer__logo" href="http://www.trask-sib.ru">
                        <img src="img/footer/logo-footer.png" />
                    </a>
                    <div class="js-ga-link js-orders-callback-link tmpl-communication-content _customer-btn"
                         data-company-id=" 98114325" data-company-name="АПК ТРАСК" data-company-name-rest="ООО"
                         data-company-url="http://www.trask-sib.ru" data-ga-id="CK-1193-1"
                         data-params="{&quot;company_id&quot;: 98114325}" data-statistics="1" data-type="callback"
                         onclick="yaCounter34968500.reachGoal('megasite_footer_callback'); return true;">
                        Обратная связь
                    </div>
                </div>
                <div class="_customer-footer__catalog-list">
                    <p class="_customer-footer__cnt--bold">О компании</p>
                    <ul class="_customer-footer__ul">
                        <li>
                            <a class="_customer-footer__cnt" href="/about">О компании</a>
                        </li>
                        <li>
                            <a class="_customer-footer__cnt" href="/catalog">Товары и услуги</a>
                        </li>
                        <li>
                            <a class="_customer-footer__cnt" href="#">Доп. страница</a>
                        </li>
                        <li>
                            <a class="_customer-footer__cnt" href="#">2-я доп. страница</a>
                        </li>
                        <li>
                            <a class="_customer-footer__cnt" href="/contacts">Контакты</a>
                        </li>
                    </ul>
                </div>
                <div class="_customer-footer__catalog-list">
                    <p class="_customer-footer__cnt--bold">Продукция</p>
                    <ul class="_customer-footer__ul">
                        <li>
                            <a class="_customer-footer__cnt" href="#">Товарная категория 1</a>
                        </li>
                        <li>
                            <a class="_customer-footer__cnt" href="#">Товарная категория 2</a>
                        </li>
                        <li>
                            <a class="_customer-footer__cnt" href="#">Товарная категория 3</a>
                        </li>
                        <li>
                            <a class="_customer-footer__cnt" href="#">Товарная категория 4</a>
                        </li>
                        <li>
                            <a class="_customer-footer__cnt" href="#">Товарная категория 5</a>
                        </li>
                    </ul>
                </div>
                <div class="_customer-footer__contact-block">
                    <div class="_customer-footer__address" itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
                        <p class="_customer-footer__cnt--bold">Контакты</p>
                        <ul class="_customer-footer__ul">
                            <li class="_customer-footer__address--phone">
                                <a href="tel:+73833754412" itemprop="telephone" onclick="yaCounter34968500.reachGoal('megasite_footer_tel'); return true;">8 (383) 375-44-12</a><br>
                                <a href="tel:+73833808381" itemprop="telephone" onclick="yaCounter34968500.reachGoal('megasite_footer_tel'); return true;">8 (383) 380-83-81</a>
                            </li>
                            <li class="_customer-footer__address--mail">
                                <a href="mailto:k.trask@mail.ru" itemprop="email" onclick="yaCounter34968500.reachGoal('megasite_footer_email'); return true;">k.trask@mail.ru</a>
                            </li>
                            <li class="_customer-footer__address--map">
                                <span itemprop="streetAddress">ул. Ватутина, 99Т, офис 207</span><br>
                                <span itemprop="addressLocality">г. Новосибирск</span>
                            </li>
                        </ul>
                        <div class="_customer-footer__address--work">Режим работы: Пн - Чт: с 9:00 до 17:30<br>Пт: с 9:00 до 17:00, без перерывов</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <meta itemprop="name" content="АПК ТРАСК"><meta content="Mo,Tu,We,Th 09:00-17:30, Fr 09:00-17:00" itemprop="openingHours">
</footer>
<div class="_customer-footer__bottom">
    <div class="_customer-footer__wrap">
        <p>&copy; АПК ТРАСК, 2010—2018 </p>
    </div>
</div>
<!--end Footer-->
