<meta charset="UTF-8">
<style>
._customer__toolbar {
	font-family: Arial, sans-serif;
	position: relative;
	margin: 0 0 0 0;
	width: 100%;
	background-image: linear-gradient( 90deg, rgb(0,108,182) 0%, rgb(2,128,215) 100%);
	box-sizing: border-box;
	height: 57px;
}
._customer-toolbar-container {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	max-width: 1207px;
	min-width: 1130px;
	box-sizing: border-box;
	height: 100%;
	padding-left: 10px;
	padding-right: 10px;
}
._customer__toolbar-left {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
._customer__toolbar-logo {
	width: 51px!important;
	height: 48px!important;
}
._customer__toolbar-nav {
	margin-left: 30px;
}
._customer__toolbar-link {
	font-size: 13px!important;
	text-transform: uppercase!important;
	color: #fff!important;
	padding: 0 12px 0;
	margin: 0 0 0 0 !important;
	text-decoration: none !important;
	cursor: pointer;
	box-sizing: border-box;
}
._customer__toolbar-link:hover {
	text-decoration: underline!important;
}
._customer-toolbar__search-block {
	position: relative;
	display: inline-block;
	width: 215px !important;
	height: 40px;
	padding-left: 10px;
	margin-top: 8px;
	background-color: #ffffff;
}
._customer-toolbar__form {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
._customer-toolbar__inp {
	height: 40px!important;
	width: 215px !important;
	border: none;
	color: #000000;
	font-size: 13px;
	outline: none;
	padding: 0 40px 0 10px;
}
._customer-toolbar__form button {
	width: 40px !important;
	height: 40px !important;
	border: none !important;
	cursor: pointer;
	position: absolute;
	box-sizing: border-box;
	outline: none !important;
	opacity: 1 !important;
	top: 0;
	right: 0;
}
._customer-toolbar__search-btn:before {
	width: 40px !important;
	height: 30px !important;
	content: url('img/toolbar/toolbar-search.png') !important;
	background: #f05312;
	position: absolute;
	top: 0;
	right: 0;
	padding-top: 10px;
}
._customer-toolbar__form button:hover {
	opacity: 0.8!important;
}
._customer-toolbar__inp::-webkit-input-placeholder {
	color: #000000;
}
._customer-toolbar__inp::-moz-placeholder {
	color: #000000;
}
._customer-toolbar__inp:-moz-placeholder {
	color: #000000;
}
._customer-toolbar__inp:-ms-input-placeholder {
	color: #000000;
}
._customer__toolbar-contact {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
._customer__toolbar-email {
	cursor: pointer;
	padding-left: 25px;
	background: url('img/toolbar/icon-mail.png') no-repeat 0 3px;
	font-size: 16px !important;
	font-weight: 400 !important;
	color: #ffffff !important;
	text-decoration: none !important;
	margin: 0 25px 0 0;
	position: relative;
}
._customer__toolbar-email:after {
	content: '';
	position: absolute;
	right: -28px;
	top: -8px;
	display: block;
	width: 1px;
	height: 34px;
	background-color: #2788cb;
}
._customer__toolbar-phone {
	cursor: pointer;
	padding-left: 25px;
	background: url('img/toolbar/icon-phone.png') no-repeat 0 3px;
	font-size: 16px !important;
	font-weight: 400 !important;
	color: #ffffff !important;
	margin: 0 0 0 25px !important;
	text-decoration: none !important;
}
._customer__toolbar-phone:hover,
._customer__toolbar-email:hover {
	text-decoration: underline!important;
}
</style>
<div class="_customer__toolbar">
	<div class="_customer-toolbar-container">
		<div class="_customer__toolbar-left">
			<a class="_customer__toolbar-logo" href="/">
				<img class="_customer__toolbar-logo-img" src="img/toolbar/logo-toolbar.png" />
			</a>
			<div class="_customer__toolbar-nav">
				<a class="_customer__toolbar-link" href="/about">О компании</a>
				<a class="_customer__toolbar-link" href="/catalog">Ассортимент</a>
				<a class="_customer__toolbar-link" href="/contacts">Контакты</a>
			</div>
		</div>

		<div class="_customer-toolbar__search-block">
			<form accept-charset="UTF-8" accept-encoding="UTF-8" action="/catalog"
				  class="search-form with-search-icon _customer-toolbar__form" method="get"
				  onsubmit="formSubmitter.disableButtons(this, null, null);">
				<div style="margin:0;padding:0;display:none"><input name="utf8" type="hidden" value="✓" /></div>
				<div class="_customer-toolbar-input-cnt sf-input-wrapper _customer-toolbar__input-wrapper">
					<input class="sf-input js-reset-field _customer-toolbar__inp" id="q" maxlenght="255" name="q"
						   placeholder="Найти товар или услугу..." type="text" />
					<button class="custom-button _customer-toolbar__search-btn"
							name="commit" type="submit" value="Поиск">
					</button>
				</div>
			</form>
		</div>
		<div class="_customer__toolbar-contact">
			<a class="_customer__toolbar-email" href="mailto:k.trask@mail.ru"
			   onclick="yaCounter34968500.reachGoal('megasite_toolbar_email'); return true;">
				k.trask@mail.ru
			</a>
			<a class="_customer__toolbar-phone" href="tel:+83833754412"
			   onclick="yaCounter34968500.reachGoal('megasite_toolbar_tel'); return true;">
				8 (383) 375-44-12
			</a>
		</div>
	</div>
</div>

